lib/tatoo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TatooWebservice" xmlns:tns="{$baseUrl}/wsdl.php" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:complexType name="gameList">
				<xsd:all>
					<xsd:element name="game" type="tns:game" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="game">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="version" type="xsd:integer" />
					<xsd:element name="edition" type="xsd:integer" />
					<xsd:element name="gameID" type="xsd:string" />
					<xsd:element name="creator" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="codexList">
				<xsd:all>
					<xsd:element name="codex" type="tns:codex" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="codex">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="version" type="xsd:integer" />
					<xsd:element name="edition" type="xsd:integer" />
					<xsd:element name="codexID" type="xsd:string" />
					<xsd:element name="creator" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="gameUploadRequest">
		<part name="name" type="xsd:string" />
		<part name="gameID" type="xsd:string" />
		<part name="version" type="xsd:integer" />
		<part name="edition" type="xsd:integer" />
		<part name="creator" type="xsd:string" />
		<part name="createDateTime" type="xsd:dateTime" />
		<part name="gameData" type="xsd:string" />
	</message>
	<message name="gameUploadResponse">
		<part name="response" type="xsd:string" />
	</message>
	<message name="codexUploadRequest">
		<part name="name" type="xsd:string" />
		<part name="gameID" type="xsd:string" />
		<part name="gameVersion" type="xsd:integer" />
		<part name="gameEdition" type="xsd:integer" />
		<part name="codexID" type="xsd:string" />
		<part name="version" type="xsd:integer" />
		<part name="edition" type="xsd:integer" />
		<part name="creator" type="xsd:string" />
		<part name="createDateTime" type="xsd:dateTime" />
		<part name="codexData" type="xsd:string" />
	</message>
	<message name="codexUploadResponse">
		<part name="response" type="xsd:string" />
	</message>
	<message name="getGameListRequest">
		<part name="versions" type="xsd:string" minOccurs="0" maxOccurs="1" />
	</message>
	<message name="getGameListResponse">
		<part name="gameList" type="tns:gameList" />
	</message>
	<message name="getCodexListRequest">
		<part name="gameID" type="xsd:string" />
		<part name="gameVersion" type="xsd:integer" />
		<part name="gameEdition" type="xsd:integer" />
		<part name="versions" type="xsd:string" minOccurs="0" maxOccurs="1" />
	</message>
	<message name="getCodexListResponse">
		<part name="codexList" type="tns:codexList" />
	</message>
	<message name="getGameRequest">
		<part name="gameID" type="xsd:string" />
		<part name="version" type="xsd:integer" minOccurs="0" maxOccurs="1" />
		<part name="edition" type="xsd:integer" minOccurs="0" maxOccurs="1" />
	</message>
	<message name="getGameResponse">
		<part name="gameData" type="xsd:string" />
	</message>
	<message name="getCodexRequest">
		<part name="codexID" type="xsd:string" />
		<part name="version" type="xsd:integer" minOccurs="0" maxOccurs="1" />
		<part name="edition" type="xsd:integer" minOccurs="0" maxOccurs="1" />
	</message>
	<message name="getCodexResponse">
		<part name="codexData" type="xsd:string" />
	</message>
	<portType name="TatooWebservicePortType">
		<operation name="gameUpload">
			<input message="gameUploadRequest" />
			<output message="gameUploadResponse" />
		</operation>
		<operation name="codexUpload">
			<input message="codexUploadRequest" />
			<output message="codexUploadResponse" />
		</operation>
		<operation name="getGameList">
			<input message="getGameListRequest" />
			<output message="getGameListResponse" />
		</operation>
		<operation name="getCodexList">
			<input message="getCodexListRequest" />
			<output message="getCodexListResponse" />
		</operation>
		<operation name="getGame">
			<input message="getGameRequest" />
			<output message="getGameResponse" />
		</operation>
		<operation name="getCodex">
			<input message="getCodexRequest" />
			<output message="getCodexResponse" />
		</operation>
	</portType>
	<binding name="TatooWebserviceBinding" type="tns:TatooWebservicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="gameUpload">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
		<operation name="codexUpload">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
		<operation name="getGameList">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
		<operation name="getCodexList">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
		<operation name="getGame">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
		<operation name="getCodex">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:xmethodsTatooWebservice"
					use="encoded" />
			</output>
		</operation>
	</binding>
	<service name="TatooWebserviceService">
		<port name="TatooWebservicePort" binding="TatooWebserviceBinding">
			<soap:address location="{$baseUrl}/index.php" />
		</port>
	</service>
</definitions>