schema/v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TatooWebserviceDefinition" targetNamespace="{$baseUrl}/wsdl.php"
			 xmlns:tns="{$baseUrl}/wsdl.php"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:x1="{$baseUrl}/wsdl.php/types/"
			 xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="{$baseUrl}/wsdl.php/types/"
					xmlns="{$baseUrl}/wsdl.php/types/">
			<xsd:complexType name="gameList">
				<xsd:sequence>
					<xsd:element name="game" type="game" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="game">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1" />
					<xsd:element name="edition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
					<xsd:element name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="creator" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="armyList">
				<xsd:sequence>
					<xsd:element name="army" type="army" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="army">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="version" type="xsd:integer" minOccurs="1" maxOccurs="1" />
					<xsd:element name="edition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
					<xsd:element name="armyID" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="creator" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="getTatooConfigurationRequest">
		<part name="configuration" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="getTatooConfigurationResponse">
		<part name="configurationValue" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="gameUploadRequest">
		<part name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="version" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="edition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="creator" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="createDateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
		<part name="gameData" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="gameUploadResponse">
		<part name="response" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="armyUploadRequest">
		<part name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="gameVersion" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="gameEdition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="armyID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="version" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="edition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="creator" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="createDateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
		<part name="armyData" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="armyUploadResponse">
		<part name="response" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="getGameListRequest">
		<part name="versions" type="xsd:boolean" />
	</message>
	<message name="getGameListResponse">
		<part name="gameList" type="x1:gameList" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="getArmyListRequest">
		<part name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="gameVersion" type="xsd:integer" />
		<part name="gameEdition" type="xsd:integer" />
		<part name="versions" type="xsd:boolean" />
	</message>
	<message name="getArmyListResponse">
		<part name="armyList" type="x1:armyList" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="getGameRequest">
		<part name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="version" type="xsd:integer" />
		<part name="edition" type="xsd:integer" />
	</message>
	<message name="getGameResponse">
		<part name="gameData" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<message name="getArmyRequest">
		<part name="gameID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="gameVersion" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="gameEdition" type="xsd:integer" minOccurs="1" maxOccurs="1" />
		<part name="armyID" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<part name="version" type="xsd:integer" />
		<part name="edition" type="xsd:integer" />
	</message>
	<message name="getArmyResponse">
		<part name="armyData" type="xsd:string" minOccurs="1" maxOccurs="1" />
	</message>
	<portType name="TatooWebservicePortType">
		<operation name="getTatooConfiguration">
			<input message="tns:getTatooConfigurationRequest" />
			<output message="tns:getTatooConfigurationResponse" />
		</operation>
		<operation name="gameUpload">
			<input message="tns:gameUploadRequest" />
			<output message="tns:gameUploadResponse" />
		</operation>
		<operation name="armyUpload">
			<input message="tns:armyUploadRequest" />
			<output message="tns:armyUploadResponse" />
		</operation>
		<operation name="getGameList">
			<input message="tns:getGameListRequest" />
			<output message="tns:getGameListResponse" />
		</operation>
		<operation name="getArmyList">
			<input message="tns:getArmyListRequest" />
			<output message="tns:getArmyListResponse" />
		</operation>
		<operation name="getGame">
			<input message="tns:getGameRequest" />
			<output message="tns:getGameResponse" />
		</operation>
		<operation name="getArmy">
			<input message="tns:getArmyRequest" />
			<output message="tns:getArmyResponse" />
		</operation>
	</portType>
	<binding name="TatooWebserviceBinding" type="tns:TatooWebservicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getTatooConfiguration">
			<soap:operation soapAction="urn:getConfigurationVersion" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="gameUpload">
			<soap:operation soapAction="urn:gameUpload" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="armyUpload">
			<soap:operation soapAction="urn:armyUpload" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="getGameList">
			<soap:operation soapAction="urn:getGameList" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="getArmyList">
			<soap:operation soapAction="urn:getArmyList" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="getGame">
			<soap:operation soapAction="urn:getGame" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
		<operation name="getArmy">
			<soap:operation soapAction="urn:getArmy" style="rpc" />
			<input>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</input>
			<output>
				<soap:body namespace="urn:xmethodsTatooWebservice" use="literal" />
			</output>
		</operation>
	</binding>
	<service name="TatooWebservice">
		<documentation>WSDL for the tatoo webservice</documentation>
		<port name="TatooWebservicePort" binding="tns:TatooWebserviceBinding">
			<soap:address location="{$baseUrl}/lib/handler/v1/index.php" />
		</port>
	</service>
</definitions>